{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('profile_show') }}">Mon profil</a></li>
    <li class="breadcrumb-item active">Modifier mon mot de passe</li>
{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>

    {{ include('profile/_password_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
