{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('profile_show') }}">Mon profil</a></li>
    <li class="breadcrumb-item active">Modifier mon profil</li>
{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
