{% block turnstile_widget %}
    <div {{ stimulus_controller('turnstile', {siteKey: turnstileSiteKey}) }}>
        <div {{ stimulus_target('turnstile', 'container') }}></div>
    </div>
{% endblock %}
