{% extends 'base.html.twig' %}

{% block title %}Changelog{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Changelog</li>
{% endblock %}

{% block body %}
    {% apply markdown_to_html %}
        {{ changelog }}
    {% endapply %}
{% endblock %}
