{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mentions légales</li>
{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            <p>
                Le site <a href="https://my.avirontours.fr">my.avirontours.fr</a> propose des fonctionnalités pour la vie du club Aviron Tours Métropole, à savoir de
                façon non exhaustive: les inscriptions, le suivi du matériel (bâteaux, réparations), la gestion des membres, des
                sorties...
            </p>

            <h2>Informations éditoriales</h2>

            <h3>Éditeur</h3>
            <p>
                Association Aviron Tours Métropole<br>
                5, avenue de Florence<br>
                37000 Tours<br>
                Tél : 02 47 44 30 44
            </p>

            <h3>Contact</h3>
            <p>
                Il est possible de prendre contact avec l'association via l'adresse: contact@avirontours.fr
            </p>

            <h2>Protection et traitement de données à caractère personnel</h2>
            <h3>Respect des lois en vigueur</h3>
            <p>
                Le site <a href="https://my.avirontours.fr">my.avirontours.fr</a> respecte la vie privée de l’internaute et se conforme strictement aux lois en vigueur sur
                la protection de la vie privée et des libertés individuelles. Aucune information personnelle n’est collectée à votre
                insu. Aucune information personnelle n’est cédée à des tiers. Les courriels, les adresses électroniques ou
                autres informations nominatives dont ce site est destinataire ne font l’objet d’aucune exploitation et ne sont
                conservés que pour la durée nécessaire à leur traitement.
            </p>

            <h3>Droit des internautes : droit d’accès et de rectification</h3>
            <p>
                L'association s’engage à ce que la collecte et le traitement de vos données, effectués à partir du site soient
                conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.
            </p>

            <p>
                vous pouvez contacter l'association par courriel contact@avirontours.fr
                ou par courrier à l’adresse suivante :
            </p>

            <p>
                Association Aviron Tours Métropole<br>
                5, avenue de Florence<br>
                37000 Tours
            </p>

            <h2>Cookies</h2>
            <p>
                Lors de la consultation de notre site <a href="https://my.avirontours.fr">my.avirontours.fr</a>, des cookies sont déposés sur votre ordinateur, votre
                mobile ou votre tablette.
            </p>

            <p>
                Les seuls cookies utilisés par le site sont ceux destinés au fonctionnement du site et ne collectent pas de
                données personnelles.
            </p>

            <ul>
                <li>
                    <b>Définition d’un cookie</b><br>
                    Un cookie est un fichier texte déposé sur votre ordinateur lors de la visite d’un site ou de la consultation
                    d’une publicité. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser
                    des services adaptés à votre terminal (ordinateur, mobile ou tablette). Les cookies sont gérés par votre
                    navigateur internet.
                </li>
                <li>
                    <b>Paramétrer votre navigateur internet</b><br>
                    Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré
                    pour vous signaler les cookies qui sont déposés dans votre ordinateur et vous demander de les accepter ou pas.
                    Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement.
                    En cas de refus de depôt de cookie, vous ne pourrez pas consulter le site <a href="https://my.avirontours.fr">my.avirontours.fr</a>.
                    Afin de gérer les cookies au plus près de vos attentes nous vous invitons à paramétrer votre navigateur en
                    tenant compte de la finalité des cookies.
                </li>
            </ul>


            <h2>Prestataire d’hébergement</h2>
            <p>
                <b>OVH</b><br>
                Siège Social<br>
                2 rue Kellermann<br>
                59100 Roubaix<br>
                ovh.com
            </p>

            <h2>Droits d’auteur et droits de reproduction</h2>
            <h3>Demande d’autorisation de reproduction du logo</h3>
            <p>
                Si, dans le cadre d’une communication officielle, vous avez besoin d’utiliser le logotype de l'association pour
                tous supports internes et externes (brochures, publications, sites, etc.), merci d’envoyer votre demande à
                l’adresse suivante :
            </p>
            <p>
                Association Aviron Tours Métropole<br>
                5, avenue de Florence<br>
                37000 Tours
            </p>

            <h3>Création de liens vers le site</h3>
            Le site <a href="https://my.avirontours.fr">my.avirontours.fr</a> autorise, sans autorisation préalable, la mise en place de liens hypertextes pointant
            vers ses pages, sous réserve de :
            <ul>
                <li>
                    ne pas utiliser la technique du lien profond, c’est-à-dire que les pages du site <a href="https://my.avirontours.fr">my.avirontours.fr</a> ne
                    doivent pas être imbriquées à l’intérieur des pages d’un autre site, mais visibles par l’ouverture d’une
                    fenêtre indépendante.
                </li>
                <li>
                    mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé.
                </li>
                <li>
                    ne pas utiliser le logotype de l'association sans autorisation
                </li>
            </ul>

            <p>
                Les sites qui font le choix de pointer vers <a href="https://my.avirontours.fr">my.avirontours.fr</a> engagent leur responsabilité dès lors qu’ils
                porteraient atteinte à l’image du site public.
            </p>

            <h2>Responsabilité face aux liens vers d’autres sites</h2>
            <p>
                Le site <a href="https://my.avirontours.fr">my.avirontours.fr</a> peut proposer des liens vers d'autres sites: essentiellement des sites officiels
                (fédération, organismes publics, etc.) mais aussi vers des sites, français ou étrangers, d’associations,
                ou d’entreprises partenaires.
            </p>
            <p>
                Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d’aller. Ces pages, dont les
                adresses sont régulièrement vérifiées, ne font pas partie du site <a href="https://my.avirontours.fr">my.avirontours.fr</a> : elles n’engagent pas la
                responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces
                liens pointent. Ils ne visent qu’à permettre à l’internaute d’accéder plus facilement à d’autres ressources
                documentaires sur le sujet consulté.
            </p>
        </div>
    </div>
{% endblock %}
