/.git
/config/secrets/dev
/config/secrets/prod/prod.decrypt.private.php
/node_modules
/public/build
/var
/vendor
.dockerignore
.editorconfig
.gitignore
.php_cs.dist
bump-version.sh
docker-compose.yml.dist
docker-compose.override.yml.dist
docker-compose.yml
Dockerfile
phpunit.xml.dist
README.md
