/.git
/.github
/config/secrets/prod/prod.decrypt.private.php
/public/build
/var
/vendor
.dockerignore
.editorconfig
.gitignore
.php-version
.php_cs.dist
.php_cs.cache
.env.test
.env.*.local
.env.local
.env.local.php
bump-version.sh
docker-compose.*.yaml
docker-compose.yaml
Dockerfile
Makefile
phpunit.xml.dist
sonar-project.properties
