.git/
.github/
bin/*
!bin/console
node_modules/
public/build/
public/bundles/
tests/
var/
vendor/
.dockerignore
.editorconfig
.env.*.local
.env.local
.env.local.php
.gitignore
.php_cs.cache
.php-cs-fixer.dist.php
.phpunit.result.cache
deploy.php
docker-compose.*.yaml
docker-compose.yaml
Dockerfile
Makefile
phpunit.xml.dist
psalm.xml
README.md
sonar-project.properties
