parameters:
    ignoreErrors:
        -
            identifier: doctrine.associationType

        -
            identifier: doctrine.columnType

        -
            identifier: ternary.shortNotAllowed
            path: config/preload.php

        -
            identifier: method.unused
            path: src/Kernel.php
