parameters:
    ignoreErrors:
        -
            identifier: doctrine.associationType

        -
            identifier: doctrine.columnType

        -
            identifier: return.unusedType
            path: src/Factory
