<div class="d-flex justify-content-center align-items-center">
    <div class="border rounded p-5 border-success">
        <div class="text-success text-center">
            <span class="fas fa-4x fa-check-circle"></span>
        </div>

        <p class="fs-3 text-center">{{ renew ? 'Réinscription' : 'Inscription' }} à Aviron Tours</p>

        <p>
            Le club Aviron Tours Métropole vous remercie de votre {{ renew ? 'réinscription' : 'inscription' }}.
        </p>

        <p style="margin-bottom: 0;">
            Pour la finaliser, merci de:
        </p>

        <ul style="margin-top: 0;">
            <li>procéder au paiement de votre inscription</li>
            <li>retourner l'attestation de droit à l'image dûment complétée</li>
            <li>pour les mineurs: retourner la fiche liaison sanitaire dûment complétée</li>
        </ul>

        <div class="mb-2 text-center">
            <a
                class="btn btn-primary btn-lg"
                href="https://www.helloasso.com/associations/aviron-tours-metropole/adhesions/saison-2024-2025"
            >
                <span class="fa-solid fa-credit-card"></span>
                Payer par Carte bancaire<br/>
                <small>(paiement en 1 ou 3x)</small>
            </a>
        </div>

        <p class="small">
            Nous attirons particulièrement votre attention sur le fait que la plateforme HelloAsso,
            propose par défaut une contribution à leur fonctionnement ("Votre contribution au fonctionnement de
            HelloAsso" lors de la dernière étape "Récapitulatif").
        </p>

        <p style="margin-bottom: 0;">
            Autres moyens de paiements acceptés:
        </p>

        <ul style="margin-top: 0;">
            <li>Chèque (possibilité de payer en 3 fois)</li>
            <li>Chèques vacances</li>
            <li>Coupon sport</li>
            <li>Pass'sport</li>
        </ul>
    </div>
</div>
