<h4>Certificat médical d’aptitude à la pratique de l’aviron</h4>
<p>
    Conformément à la règlementation (Articles L.231.2 et D.231 du Code du sport et règlement médical de la FFA),
    les pratiquants doivent fournir un certificat médical de <b>non contre indication à la pratique de l’aviron ou
        du sport</b> lors de la prise d’une première licence à la FFA, datant de moins d’un an.
</p>

<p>
    Les années suivantes, si la licence est prise sans discontinuité, il est simplement demandé aux licenciés de
    répondre à un questionnaire de santé QS Sport - CERFA N°15699*01 (1) et, en cas de réponse négative à toutes
    les questions, de simplement fournir au club une attestation selon le modèle fédéral.
</p>

<h4>Certificat médical d’aptitude à la pratique de l’aviron en compétition</h4>
<p>
    Conformément à la règlementation (Articles L.231.2 et D.231 du Code du sport et règlement médical de la FFA),
    pour obtenir une licence leur permettant de pratiquer en compétition, les licenciés doivent fournir un
    certificat médical de <b>non contre indication à la pratique de l’aviron en compétition</b>, datant de
    <b>moins d’un an</b>.
</p>

<p>
    La production de ce certificat médical est <b>obligatoire tous les 3 ans</b>.
</p>

<p>
    Les années intermédiaires, si la licence est prise sans discontinuité, il est simplement demandé aux
    licenciés de répondre à un questionnaire de santé QS Sport - CERFA N°15699*01 (1) et, en cas de réponse
    négative à toutes les questions, de simplement fournir au club une attestation selon le modèle fédéral.
</p>
