<form method="post" action="{{ path('license_delete', {'season_id': license.seasonCategory.season.id, 'id': license.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet éléménet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ license.id) }}">

    {% block buttons %}
        <button class="btn btn-outline-danger btn-sm">
            <span class="fas fa-trash-alt"></span> Supprimer
        </button>
    {% endblock %}
</form>
