{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un bâteau{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shell_damage_index') }}">Gestion des avaries</a></li>
    <li class="breadcrumb-item active">Modifier une avarie</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Modifier une avarie</h1>

        <div class="ml-auto align-self-center">
            {{ include('admin/shell_damage/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ include('admin/shell_damage/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
