{% extends 'base_background.html.twig' %}

{% block title %}Envoi d'un email de réinitialisation du mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre nom d'utilisateur existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
