@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

label,
legend {
    &.required {
        span {
            &.label {
                &:after {
                    content: " *";
                    color: red;
                }
            }
        }
    }
}

li {
  &.list-group-item {
    &:hover {
      background-color: $light;
    }
  }
}

.app-list {
  a {
    text-decoration: none;
    color: $dark;

    .card {
      &:hover {
        border-color: $primary;
      }
    }
  }
}

.accordion .card-header {
  &:after {
    @extend %fa-icon;
    @extend .fas;

    content: fa-content($fa-var-chevron-down);
    float: right;
    transition: all 0.5s;
  }

  &.collapsed {
    &:after {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.user-profile-picture {
  background-color: $blue;
  color: $white;
  font-weight: bold;
  font-size: 4em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

.top-navbar {
  @media (min-width:768px) {
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
  }
}

.left-nav-links {
  padding-top: 1rem;

  a {
    color: $dark;

    &:hover {
      color: $black;
    }
  }

  @media (min-width:768px) {
    display: block!important;
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
  }

  @media (max-width:769px) {
    padding: 1rem;
  }
}
