{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><span class="fas fa-home"></span> Accueil</a></li>
    <li class="breadcrumb-item active"><a href="{{ path('admin_home') }}">Administration</a></li>
{% endblock %}
