@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

/**
 * sidebar
 */
body {
  overflow-x: hidden;
}

#sidebarToggle {
  color: $gray-600;

    &:focus {
      outline:none !important;
    }

    &::after {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-bars);
    }

    &:hover {
      color: $gray-700;

      &::after {
        @extend %fa-icon;
        @extend .fas;

        content: fa-content($fa-var-hamburger);
      }
    }
}

#sidebar {
  transition: transform 0.25s ease-in-out;
  left: -20rem;
  width: 20rem;
  position: fixed;
}

main {
  transition: transform 0.25s ease-in-out;
  width: 100%;
}

.sidebar-show {
  #sidebarToggle {
    color:$dark;

    &::after {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-times);
    }
  }

  #sidebar {
    transform: translateX(20rem);
  }

  main {
    transform: translateX(20rem);

    @include media-breakpoint-up(xl) {
      width: calc(100% - 20rem) !important;
    }
  }
}

/**
 * Form
 */
.form-label,
.col-form-label {
  &.required {
    &:after {
      content: " *";
      color: $red;
    }
  }
}

/**
 * Lists
 */
li {
  &.list-group-item {
    &:hover {
      background-color: $light;
    }
  }
}

/**
 * App list
 */
.app-list {
  a {
    text-decoration: none;
    color: $dark;

    .card {
      &:hover {
        border-color: $primary;
      }
    }
  }
}
