@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

/**
 * Sidebar
 */
#toggle-sidebar {
  &:focus {
    outline:none !important;
  }

  &[aria-expanded="true"] {
    color:$dark;

    &::after {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-times);
    }
  }

  &[aria-expanded="false"] {
    color: $gray-600;

    &::after {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-bars);
    }

    &:hover {
      color: $gray-700;

      &::after {
        @extend %fa-icon;
        @extend .fas;

        content: fa-content($fa-var-hamburger);
      }
    }
  }
}

#sidebar {
  &.collapsing.width {
    height: auto;
    width: 0;
    overflow: hidden;
    @include transition(width .35s ease);
  }
}

/**
 * Form
 */
.form-label,
.col-form-label {
  &.required {
    &:after {
      content: " *";
      color: $red;
    }
  }
}

/**
 * Lists
 */
li {
  &.list-group-item {
    &:hover {
      background-color: $light;
    }
  }
}

/**
 * App list
 */
.app-list {
  a {
    text-decoration: none;
    color: $dark;

    .card {
      &:hover {
        border-color: $primary;
      }
    }
  }
}
