@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

/**
 * sidebar
 */
#sidebarToggle {
  color: $gray-600;

    &:focus {
      outline:none !important;
    }

    &::after {
      @extend %fa-icon;
      @extend .fas;

      content: fa-content($fa-var-bars);
    }

    &:hover {
      color: $gray-700;

      &::after {
        @extend %fa-icon;
        @extend .fas;

        content: fa-content($fa-var-hamburger);
      }
    }
}

body {
  overflow-x: hidden;
}

#sidebar {
  &.offcanvas {
    width: 318px;

    &.show {
      +main {
        left: 318px;

        #sidebarToggle {
          color:$dark;

          &::after {
            @extend %fa-icon;
            @extend .fas;

            content: fa-content($fa-var-times);
          }
        }
      }
    }
  }
}

main {
  position: relative;
  left: 0;
  transition: left $offcanvas-transition-duration;
}

/**
 * Form
 */
.form-label,
.col-form-label {
  &.required {
    &:after {
      content: " *";
      color: $red;
    }
  }
}

/**
 * Lists
 */
li {
  &.list-group-item {
    &:hover {
      background-color: $light;
    }
  }
}

/**
 * App list
 */
.app-list {
  a {
    text-decoration: none;
    color: $dark;

    .card {
      &:hover {
        border-color: $primary;
      }
    }
  }
}
