{% extends 'emails/base.html.twig' %}

{% block body %}
    <container>
        <row>
            <columns>
                <p>
                    Bonjour {{ user.fullName }},<br/>
                    Nous avons bien reçu votre demande de modification de mot de passe. Veuillez cliquer sur le boutons ci-dessous pour modifier ce dernier.
                </p>

                <p>
                    <button href="{{ url('app_reset_password', { token: reset_token.token }) }}" class="expanded">Modifier mon mot de passe</button>
                </p>

                <p>
                    Ce lien expirera dans {{ reset_token.expirationMessageKey|trans(reset_token.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
            </columns>
        </row>
    </container>
{% endblock %}
