{% extends 'emails/base.html.twig' %}

{% block body %}
    <container class="text-left">
        Bonjour {{ user.fullName }},<br>
        Pour réinitialiser votre mot de passe, veuillez vous rendre
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a>.
        Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).
    </container>
{% endblock %}
