{% extends 'emails/base.html.twig' %}

{% block body %}
    <container>
        <row>
            <columns>
                <container class="text-left">
                    Bonjour {{ user.fullName }},<br>
                    Voici votre code d'authentification a usage unique:
                </container>
                <h1 class="text-center">{{ authCode }}</h1>
            </columns>
        </row>
    </container>
{% endblock %}
