{# List flashes messages #}
<div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 10000">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        {% for label, messages in app.flashes(['success', 'notice', 'warning', 'error']) %}
            {% set color = 'notice' == label ? 'info' : 'error' == label ? 'danger' : label %}
            {% for message in messages %}
                <div class="toast border-{{ color }}" role="alert" aria-live="assertive" aria-atomic="true" {{ stimulus_controller('toast', { 'delay': 'error' == label ? 10000 : 5000 }) }}>
                    <div class="toast-body d-flex align-items-start">
                        <div class="text-{{ color }} align-self-center">
                            {% if 'success' == label %}
                                <span class="fas fa-check-circle"></span>
                            {% elseif 'notice' == label %}
                                <span class="fas fa-question-circle"></span>
                            {% elseif 'warning' == label %}
                                <span class="fas fa-exclamation-circle"></span>
                            {% elseif 'error' == label %}
                                <span class="fas fa-times-circle"></span>
                            {% endif %}
                        </div>
                        <div class="ms-3">
                            {{ message|trans }}
                        </div>
                        <div class="ms-auto">
                            <button type="button" class="btn-close" data-action="toast#dismiss" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
