{% extends 'base.html.twig' %}

{% block container %}
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 d-flex align-items-start">
            <nav class="left-nav-links collapse" id="left-nav">
                {% block nav %}
                {% endblock %}
            </nav>

            <button class="btn border d-md-none text-secondary px-3 my-3 float-right ml-auto" type="button" data-toggle="collapse" data-target="#left-nav" aria-controls="left-nav" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
        </div>

        <main class="col-md-9 col-xl-10 py-md-3 pl-md-5" role="main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home"></span> Accueil</a></li>
                    {% endblock %}
                </ol>
            </nav>

            {# List flashes messages #}
            {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible d-print-none" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
    </div>
{% endblock %}
