{% extends 'club_management/base.html.twig' %}

{% block title %}Ajouter un bâteau{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shell_index') }}">Gestion du parc</a></li>
    <li class="breadcrumb-item active">Ajouter un bâteau</li>
{% endblock %}

{% block body %}
    <h1>Ajouter un bâteau</h1>

    {{ include('shell/_form.html.twig') }}
{% endblock %}
